prefer-no-csd
spawn-at-startup "noctalia-shell"
spawn-at-startup "swww-daemon"
spawn-at-startup "swww" "img" "~/dotfiles/wallpapers/Tiger.png"
spawn-at-startup "sh" "-c" "${pkgs.polkit_gnome}/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"

hotkey-overlay {
  skip-at-startup
}

input {
	focus-follows-mouse max-scroll-amount="0%"

	keyboard {
		xkb { layout "us"; }
		repeat-delay 200
		repeat-rate 35
	}

	touchpad { tap; }	
}

binds {
	// General
	Mod+Shift+E { quit; }
	Mod+Shift+Slash { show-hotkey-overlay; }
	Mod+Q { close-window; }
	Mod+T { spawn "ghostty"; }
  Mod+B { spawn "brave"; }
	Mod+A { spawn "rofi" "-show" "drun"; }
  Mod+F { spawn "thunar"; }
  Mod+C { spawn "code"; }
  Mod+Backspace { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }

  // Screenshot (Clipboard)
  Print { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }
  // Save Screenshot
  Shift+Print { spawn "sh" "-c" "grim -g \"$(slurp)\" ~/Pictures/Screenshot_$(date +'%Y-%m-%d_%H-%M-%S').png"; }

	// Moving Workspace
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }

	// Switching Workspaces
	Mod+Shift+1 { move-column-to-workspace 1; }
	Mod+Shift+2 { move-column-to-workspace 2; }
	Mod+Shift+3 { move-column-to-workspace 3; }
	Mod+Shift+4 { move-column-to-workspace 4; }
	Mod+Shift+5 { move-column-to-workspace 5; }
	Mod+Shift+6 { move-column-to-workspace 6; }
	Mod+Shift+7 { move-column-to-workspace 7; }
	Mod+Shift+8 { move-column-to-workspace 8; }
	Mod+Shift+9 { move-column-to-workspace 9; }

	// Move Focus 
	Mod+H { focus-column-left; }
	Mod+L { focus-column-right; }
	Mod+J { focus-window-down; }
	Mod+K { focus-window-up; }

	// Moving Windows
	Mod+Shift+Left { move-column-left; }
	Mod+Shift+Right { move-column-right; }
	Mod+Shift+Down { move-window-down; }
	Mod+Shift+Up {move-window-up; }

  // Swap Monitors
  Mod+Left  { focus-monitor-left; }
  Mod+Right { focus-monitor-right; }

	// Window Sizing
	Alt+Return { maximize-column; }

	// Snap to Center
	Alt+Shift+Return { center-column; }

	// Floating Windows
	Mod+Shift+F { toggle-window-floating; }
	Mod+Tab { switch-focus-between-floating-and-tiling; }

	// Consume & Expel
	Mod+BracketLeft { consume-or-expel-window-right; }
	Mod+BracketRight { consume-or-expel-window-left; }
	Mod+Shift+BracketLeft { consume-window-into-column; }
	Mod+Shift+BracketRight { expel-window-from-column; }

	// Overview
	Mod+O { toggle-overview; }

	// Switch to Workspace
	Mod+U { focus-workspace-down; }
	Mod+I { focus-workspace-up; }

	// Move Window to Workspace
	Mod+Shift+U { move-column-to-workspace-down; }
	Mod+Shift+I { move-column-to-workspace-up; }

	// Cycle Window Size
	Mod+R {switch-preset-column-width; }

  // Volume Control
  XF86AudioMute { spawn "pamixer" "-t";}
  XF86AudioLowerVolume { spawn "pamixer" "-d" "5"; }
  XF86AudioRaiseVolume { spawn "pamixer" "-i" "5"; }

  // Brightness Control
  XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
  Xf86MonBrightnessUp { spawn "brightnessctl" "set" "+5%"; }

  // Media Control
  XF86AudioPrev { spawn "playerctl" "previous"; }
  XF86AudioPlay { spawn "playerctl" "play-pause"; }
  XF86AudioNext { spawn "playerctl" "next"; }

  // Microphone
  XF86AudioMicMute { spawn "pamixer" "--default-source" "-t"; }

}

layout {
	gaps 5
	center-focused-column "never"

	focus-ring {
		width 1.5
		active-color "#7fc8ff"
		inactive-color "#505050"
	}

	border {
		off
	}

	// Default Window Proportion
	default-column-width { proportion 1.00; }

	// Window Proportion Presets
	preset-column-widths {
		proportion 0.3333
		proportion 0.5
		proportion 0.666
		proportion 1.00
	}
}

window-rule {
	geometry-corner-radius 4
	clip-to-geometry true
}

animations {
  slowdown 0.5
}
