input {
	keyboard {
		xkb { layout "us"; }
	}
	touchpad { tap; }	
}

binds {
	Mod+Shift+E { quit; }
	Mod+Q { close-window; }
	Mod+T { spawn "alacritty"; }
	Mod+A { spawn "rofi" "-show" "drun"; }
}

layout {
	gaps 16
	center-focused-column "never"
}
